<html>
  <head>
    <link rel="stylesheet" href="/style/general.css" />
    <link rel="stylesheet" href="/style/panel.css" />
    <link rel="stylesheet" href="/style/text.css" />
  </head>

  <body>
    <div class="box">
      <div class="panel">
        <h1 class="title"> Model 3 </h1>
        <p class="text">Order Online for </p>
        <a class="link" href="#model-3" title="Order Online for Touchless Delivery" >Touchless Delivery </a>
      </div>

      <div class="panel">
        <h1 class="title"> Model Y </h1>

        <p class="text"> Order Online for </p>
        <a class="link" href="#model-y" title="Order Online for Touchless Delivery" >Touchless Delivery</a>
      </div>

      <div class="panel">
        <h1 class="title"> Model S </h1>

        <p class="text"> Order Online for </p>
        <a> </a>
      </div>

      <div class="panel">
        <h1 class="title"> Accessories </h1>
      </div>
    </div>
  </body>
</html>
